* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


ul {
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education {
  background-color: lightblue;
  padding: 30px;
}

.experience {
  background-color: lightpink;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cv-item {
  border-left: 2px solid blue;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
}

.job-title {
  margin-bottom: 5px;
}

.duration {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 12px;
  background-color: rgb(164, 255, 255);
  padding: 5px 15px;
  border-radius: 5px;
}

.company {
  margin-bottom: 5px;
  font-weight: 600;
}

.cv-item::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid blue;
  background-color: palevioletred;
}

